---
layout: master
title: Larry Cai's blog on the github
full_posts: 3
---

<div class='home_box' id='home_left'>
  <h2><a href='atom.xml' class='float-right'><img src='/images/subscribe-icon.gif' alt='Subscribe'/></a
  >最新博客 (<a href='/blog.html'>更多</a>)</h2>
  
  {% for post in site.posts limit:page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6818277ee65d33"></script>
<!-- AddThis Button END -->
    <div class='body'>{{post.content}}</div>
    <a href='{{post.url}}#disqus_thread'>View Comments</a>
  </div>
  {% endfor %}
</div>

<div class='home_box' id='home_right'>
  
  <h2>联系方式</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <dl>
      <dt>邮件：</dt>
      <dd>larry.caiyu AT gmail.com </dd>

      <dt>微博：</dt>
      <dd><a href="http://weibo.com/larrycaiyu">http://weibo.com/larrycaiyu</a></dd>

    </dl>

    </div>
  </div>
  <h2>Related Posts</h2>
  <div class='sidebar'>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul></div>
</div>

